<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Appointment</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h2>Details Appointment #</h2>
        <div id="reservation-details">
            <p>
                <strong>ID:</strong>
                <span id="reservationID"> </span>
            </p>
            <p>
                <strong>Name:</strong>
                <span id="reservationNamePacient"> </span>
            </p>
            <p>
                <strong>Date:</strong>
                <span id="reservationDate"> </span>
            </p>
            <p>
                <strong>Doctor:</strong>
                <span id="reservationNameDoctor"> </span>
            </p>
            <p>
                <strong>Time:</strong>
                <span id="reservationTime"> </span>
            </p>
        </div>
    </div>
    <script src="scripts.js"></script>
</body>
</html>